@font-face {
  font-family: Canopee;
  src: url(./font-1.ttf);
}
@font-face {
  font-family: DomaineDispCondMedium;
  src: url(./font-2.ttf);
}
:root {
  --primaryfont: "Canopee";
  --secondaryfont: "DomaineDispCondMedium";
}
html {
  overflow-x: hidden;
  /* font-size: 62.5%; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.nav {
  font-family: var(--secondaryfont);
  display: flex;
  padding: 30px 30px 30px 30px;
  /* margin: 0px 30px 30px 30px; */
  justify-content: space-between;
  align-items: center;
}
.li-2 {
  display: block;
  width: 10%;
  height: 10%;
}
.nav-line {
  border-bottom: 0.1px solid black;
}
.s1 {
  display: flex;
  font-family: var(--secondaryfont);
  margin-top: 40px;
}
.s1-left {
  margin: 10px 45px 30px 45px;
  height: 70%;
  width: 30%;
}
.s1-left img {
  border: 1px solid black;

  height: 100%;
  width: 100%;
}

.s1-right {
  margin: 10px 45px 30px 45px;
  height: 70%;
  width: 30%;
}
.s1-right img {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
.right-border {
  border-right: 1.5px solid rgb(160, 160, 160);
}
.s1-mid {
  margin: 10px 45px 30px 45px;
  height: 70%;
  width: 23%;
  text-align: center;
}
.s1-mid h1 {
  font-size: 85px;
}
.s1-mid-text {
  font: var(--secondaryfont);
  font-size: 45px;
}
.s1-left-text {
  background-color: #c22f0e;
  color: #c4bcb2;
  margin-left: 3px;
  padding: 3px;
  border-radius: 3px;
}

.s1-right-text {
  background-color: #c22f0e;
  color: #c4bcb2;
  margin-left: 3px;
  padding: 3px;
  border-radius: 3px;
}

.s1-left-desc {
  display: block;
  margin-top: 7px;
}

.s1-right-desc {
  display: block;
  margin-top: 7px;
}

.miranda-text h2 {
  background-color: #1c1b19;
  color: #c3bcb2;
  font-size: 550px;
  margin-left: 20px;
  width: 97%;
  /* padding: 0px 40px 0px 40px; */
  text-align: center;
  letter-spacing: -18px;
  line-height: 440px;
  font-weight: 500;
  font-family: var(--primaryfont);
}
.miranda-text {
  margin-top: 20px;
}

.img-sec-1 {
  display: flex;
  margin: 0 0 40px 0;
  padding-top: 30px;
}
.img-sec-1-left {
  width: 30%;
  height: 100%;
}
.img-1 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.img-2 {
  width: 100%;
  height: 100%;
}
.img-sec-1-right {
  width: 70%;
  height: 100%;
}
.img-sec-1-left-bottom {
  height: 100%;
  width: 100%;
}
.img-sec-1-left-top {
  font-family: var(--secondaryfont);
}

.img-sec-1-left-top h2 {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}
.img-sec-1-left-top h2 span {
  font-size: 100px;
  font-family: 900;
}
.border {
  border-right: 1px solid black;
}
.img-sec-1-left {
  margin: 0px 40px 0 40px;
}
.img-sec-1-right {
  margin: 0px 20px 0 40px;
}
.img-sec-1-text {
  font-family: var(--secondaryfont);
  font-weight: 100;
  font-size: 40px;
  text-align: start;
}

.img-sec-1-text span {
  font-size: 90px;
  color: #c4bcb3;
  font-family: var(--secondaryfont);
  background-color: black;
}

.img-sec-1-right-text span {
  font-size: 100px;
  font-family: var(--primaryfont);
  letter-spacing: -2px;
  font-weight: 100;
  text-align: justify;
}
.main {
  background-color: #c4bcb3;
}
.img-sec-1 {
  background-color: #c4bcb3;
}
.sec-2 {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 25px;
  align-content: center;
  align-items: center;
}
.website-text {
  display: flex;
  font-family: var(--primaryfont);
  font-size: 25vw;
  padding: 20px 10px 20px 10px;
  line-height: 20vw;
  width: 100%;
  text-align: justify;
  font-stretch: expanded;
}
.text-sec-2 {
  margin-left: 30px;
  color: #c4bcb2;
  width: 70%;
  height: 100%;
  background-color: #1c1b19;
}
.img-sec-2 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 50vh;
}
.img-sec-2 {
  /* height: 5vh; */
  display: flex;
  align-items: center;
}
.page3 {
  display: flex;
  gap: 90px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.left-page3 {
  width: 60%;
}
.left-page3 img {
  display: block;
  object-fit: cover;
  width: 60vw;
}
.right-page3 {
  width: 40%;
}
.right-text {
  width: 80%;
  text-align: justify;
}
.right-text h1 {
  font: var(--secondaryfont);
  font-weight: 100;
  font-size: 2vw;
}
.right-btn {
  background-color: #cbc1b7;
  margin-top: 3vw;
  width: 30vw;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  padding: 4vw;
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  align-items: center;
  font: var(--secondaryfont);
}
.right-btn span {
  display: block;
  text-align: center;
  font-size: 5vw;
  font-weight: 900;
  transform: translateX(4vw);
}
.right-btn img {
  transform: translateX(-30vw);
  width: 40vw;
}
.right-btn:hover span {
  transition: all ease 1s;
  transform: translateX(28vw);
}

.right-btn:hover img {
  transition: all ease 1s;
  transform: translateX(-6vw);
}
